<div class="container body-content span=8 offset=2 body-main">
    <div class="well">
        <form class="form-horizontal" method="POST" action="/picture/create" enctype="multipart/form-data">
            <fieldset>
                <legend>New Picture</legend>

                <div class="form-group">
                    <label class="col-sm-4 control-label" for="pictureTitle">Picture Title</label>
                    <div class="col-sm-4 ">
                        <input type="text" class="form-control" id="pictureTitle" placeholder="Picture Title" name="title" required >
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label" for="pictureContent">Content</label>
                    <div class="col-sm-6">
                        <textarea class="form-control" id="pictureContent" rows="5" name="content" required></textarea>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-4 control-label" for="picture">Picture</label>
                    <div class="col-sm-6 fileUpload btn btn-default">
                        <span>Upload</span>
                        <input type="file" name="avatar" id="picture" class="upload" value="Upload">
                    </div>
                </div>
                <!--
                <form action="/" method="POST" enctype="multipart/form-data">
                    <input type="file" name="avatar">
                </form>-->

                <div class="form-group">
                    <label class="col-sm-4 control-label" for="category">Category</label>
                    <div class="col-sm-6">
                        <select class="form-control" id="select" name="category">
                            {{#each categories}}
                                <option value="{{this.id}}">{{this.name}}</option>
                            {{/each}}
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-4 control-label" for="tags">Tags</label>
                    <div class="col-sm-4 ">
                        <input type="text" class="form-control"  id="tags" placeholder="Tags" name="tagNames">
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-4 col-sm-offset-4">
                        <button type="submit" class="btn btn-default">Submit</button>
                        <button type="reset" class="btn btn-default">Cancel</button>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>
