<div class="container body-content span=8 offset=2 body-main">
    <div class="well">
        <form class="form-horizontal" method="POST" action="/picture/create" enctype="multipart/form-data">
            <fieldset>
                <legend>New Picture</legend>

                <div class="form-group">
                    <label class="col-sm-4 control-label" for="pictureTitle">Picture Title</label>
                    <div class="col-sm-4 ">
                        <input type="text" class="form-control" id="pictureTitle" placeholder="Picture Title" name="title" required >
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label" for="pictureShowPic">Upload Image</label>
                    <div class="col-sm-4 fileUpload btn btn-default">
                        <span>Upload Image</span>
                            <input type="file" class="form-control upload" id="pictureShowPic" name="showPic" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label" for="category">Category</label>
                    <div class="col-sm-6">
                        <select class="form-control" id="select" name="category">
                            {{#each categories}}
                                <option value="{{this.id}}">{{this.name}}</option>
                            {{/each}}
                        </select>
                    </div>
                </div>
               <!-- <div class="form-group">
                    <label class="col-sm-4 control-label" for="tags">Tags</label>
                    <div class="col-sm-4 ">
                        <input type="text" class="form-control"  id="tags" placeholder="Tags" name="tagNames">
                    </div>
                </div>-->

                <div class="form-group">
                    <div class="col-sm-4 col-sm-offset-4">
                        <button type="submit" class="btn btn-default"><i class="fa fa-share-square" aria-hidden="true"></i> Submit</button>
                        <button type="reset" class="btn btn-default">Cancel</button>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>
