<!DOCTYPE html>
<html>
<head>
    <title>Climbers blog</title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <link rel='stylesheet' href='/stylesheets/my-style.css'/>
    <script src="/javascripts/jquery-1.10.2.js"></script>
    <script src="/javascripts/bootstrap.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="icon" href="/images/climber.png">
</head>
<body id="body">
    <header>
        <div class="navbar navbar-default navbar-fixed-top text-uppercase">
            <div class="container">
                <div class="navbar-header">
                    <a href="/" class="navbar-brand">climber's notes</a>
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>


                <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"
                           role="button" aria-expanded="false">Menu<span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="/">Articles</a></li>
                            <li><a href="/home/picture">Galery</a></li>
                        </ul>
                    </li>
                </ul>
                {{#if user}}
                    <ul class="nav navbar-nav navbar-right">
                            {{#if isAdmin}}
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"
                                       role="button" aria-expanded="false">Admin<span class="caret"></span></a>
                                    <ul class="dropdown-menu" role="menu">
                                        <li><a href="/admin/user/all">Users</a></li>
                                        <li><a href="/admin/category/all">Categories</a></li>
                                    </ul>
                                </li>
                            {{/if}}
                {{#if user.img.name}}
                            <li class="liIMage"><img src="/uploads/{{user.img.name}}" class="avatar thumb" height="45" width="45"/></li>
                {{/if}}
                            <li><a href="/user/details">{{user.fullName}}</a></li>
                            <li><a href="/user/logout">Logout</a></li>
                        </ul>
                    </div>
                {{/if}}
                {{#unless user}}
                    <div class="navbar-collapse collapse">
                        <ul class="nav navbar-nav navbar-right">
                            <li><a href="/user/register">Register</a></li>
                            <li><a href="/user/login">Login</a></li>
                        </ul>
                    </div>
                {{/unless}}
            </div>
        </div>
    </header>
    {{#if error }}
        <div class="alert alert-danger" style="text-align: center" role="alert">{{error}}</div>
    {{/if}}
    {{{body}}}
</body>
<footer>
    <div class="container modal-footer">
        <p>&copy; Life begins at the end of your comfort zone</p>
    </div>
</footer>
</html>
