#body {
    background: url("../images/rock-climbing-wallpaper.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.navbar, .navbar-default{
    background: #0A2342;
    border-radius: 0;
    border: 0;
    border-bottom: 3px solid #DD7373;
    color: #EAD94C;
    text-shadow: 2px 2px black;
}
.navbar-default .navbar-nav > li > a {
    color: #EAD94C;
    text-shadow: 2px 2px black;
    font-size: large;
    webkit-transition-duration: 0.5s; /* Safari */
    transition-duration: 0.5s;
}
.navbar-default .navbar-nav > li > a:hover {
    color: #EAD94C;
}
.navbar-default .navbar-brand {
    color: #EAD94C;
    text-shadow: 2px 2px black;
    font-size: 25px;
    webkit-transition-duration: 0.5s; /* Safari */
    transition-duration: 0.5s;
}
.navbar-default .navbar-brand:hover {
    color: #EAD94C;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: #EAD94C;
    text-shadow: 2px 2px black;
    background: rgba(100,100,100,0.5);
}
.btn-default {
    color: #EAD94C;
    background: #0A2342;
    border-color: #51A3A3;
    text-shadow: 1px 1px black;
    webkit-transition-duration: 0.5s; /* Safari */
    transition-duration: 0.5s;
}
.btn-default:hover{
    color: #EAD94C;
    background: rgba(100,100,100,0.8);
    border-color: #DD7373;
    text-shadow: 1px 1px black;
}
.btn-default:active{
    color: #EAD94C;
    background: rgba(100,100,100,0.5);
    border-color: #DD7373;
    text-shadow: 1px 1px black;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    color: #EAD94C;
    background: rgba(100,100,100,0.5);
    text-shadow: 2px 2px black;
}
.dropdown-menu > li > a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.42857143;
    color: #EAD94C;
    white-space: nowrap;
    text-shadow: 2px 2px black;
}
.dropdown-menu > li > a:hover {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.42857143;
    color: #EAD94C;
    white-space: nowrap;
    background: rgba(100,100,100,0.5);
    text-shadow: 2px 2px black;
}
.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 14px;
    text-align: left;
    list-style: none;
    background-color: #0A2342;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 2px solid #DD7373;
    border-radius: 4px;
    text-shadow: 2px 2px black;
}
.dropdown-menu .divider {
    height: 1px;
    margin: 9px 0;
    overflow: hidden;
    background-color: #EAD94C;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: #51A3A3;
}
.form-control{
    background-color: rgba(100,100,100,0.8);
    border: 1px solid #51A3A3;
    -webkit-transition-duration: 0.5s; /* Safari */
    transition-duration: 0.5s;
}
.form-control:focus{
    background-color: rgba(100,100,100,0.8);
    border: 1px solid #DD7373;
    color: honeydew;
}
legend{
    text-align: center;
    color: #EAD94C;
    border-bottom: 2px solid #51A3A3;
    padding: 10px 0;
}
.body-main{
    color: honeydew;
    text-shadow: 2px 2px black;
    background-color: #0A2342;
    margin-top: 0;
    border-radius: 10px;
    border: 2px solid #DD7373;
    -webkit-transition-duration: 0.9s; /* Safari */
    transition-duration: 0.9s;
    padding:30px;
    font-size: 1.3em;
    margin-bottom: 10px;
}
.footer{
    text-align: center;
    color: #EAD94C;
    text-shadow: 2px 2px black;
    font-size: 20px;
    border-bottom: none;
    position: relative;
    min-height: 50px;


}
.page-header {
    color: #EAD94C;
    text-shadow: 2px 2px black;
    padding-bottom: 9px;
    margin: 40px 0 20px;
    border-bottom: 1px solid #DD7373;
}
.thumbnail {
    border: 1px solid #51A3A3;
    background-color: rgba(100,100,100,0);
}
.thumb{
    width: 280px;
    height: 300px;
}
.body{
    color: #EAD94C;
    text-shadow: 2px 2px black;
    background-color: rgba(100,100,100,0.9);
    border-radius: 10px;
    border: 1px solid #DD7373;
    -webkit-transition-duration: 0.9s; /* Safari */
    transition-duration: 0.9s;
    padding: 0 22px;
    margin-top: 25px;
    margin-bottom: 25px;
}
.clip-article{
    max-height: 300px;
    overflow-y: hidden;
    text-align: left;
}
.wide{
    width: 60%;
    margin-right: 10px;
    margin-top: 0;
}
.image{
    max-width:100%;
    max-height: 30%;
}
.author{
    text-align: left;
}
.well{
    background: none;
    border: none;
}
.list-unstyled > li > a{
    color: honeydew;
    text-shadow: 2px 2px black;
}
.mainColor{
    color: #EAD94C;
    text-shadow: 2px 2px black;
}
.page-header{
    margin: 0;

}
h2{
    margin-top: 0;
}
.moved-down{
    margin-top: 75px;
}
.img-responsive{
    margin-left: 30px;
    width: 58%;
    float: right;
}
::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #EAD94C;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #EAD94C;
    opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #EAD94C;
    opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color:    #EAD94C;
}
a {
    color: #EAD94C;
    text-decoration: none;
}
#select{
    background-color: rgba(100,100,100,0.9);
    color: honeydew;
    text-shadow: 2px 2px black;
}
#select:hover{
    color: honeydew;
    text-shadow: 2px 2px black;
    border: 1px solid #DD7373;
}
.option:hover{
    color: #EAD94C;
    text-shadow: 2px 2px black;
    border: 1px solid #DD7373;
}
.option {
    background: rgba(100,100,100,0.9);
    color:honeydew;
    text-shadow:2px 2px black;
}
small .author{
    text-shadow: 2px 2px black;
    color:    #EAD94C;
}
.categories{
    width: 23%;
}
.footer{
    min-height: 0;
}
.btn-xs, .btn-group-xs > .btn{
    padding: 3px 7px;
}
table .info,
.table .info {
    color: #DD7373;
}
.main-article{
    overflow: hidden;
}
.text{
    height: 510px;
    overflow: hidden;
    text-align: justify;
    font-size: 19px;
}
.lead{
    margin: 0;
}
.hr{
    margin-top: 10px;
    margin-bottom: 10px;
    border: 0;
    border-top: 2px solid #51A3A3;
}
.fileUpload {
    position: relative;
    overflow: hidden;
    width: 280px;
    margin-left: 15px;
    color: honeydew;

}
.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}
.avatar{
    width: 40px;
    height: 40px;
    vertical-align: middle;
    line-height: 100%;
    overflow: hidden;
    border-radius: 100%;
    border: 2px solid #DD7373;
}
.liIMage{
    display: block;
    height: 55px;
    line-height: 55px;
}
.footer-bar{
    background: #0A2342;
    border-radius: 0;
    border: 0;
    border-top: 3px solid #DD7373;
}
.modal-footer{
    color: #EAD94C;
    text-shadow: 1px 1px black;
    font-size: 14pt;
    /font-weight: bold;
    text-align: center;
    font-family: 'Satisfy', cursive;
}
.hovereffect {
    width:100%;
    height:100%;
    float:left;
    overflow:hidden;
    position:relative;
    text-align:center;
    cursor:default;
}

.hovereffect .overlay {
    width:100%;
    height:100%;
    position:absolute;
    overflow:hidden;
    top:0;
    left:0;
    opacity:0;
    background-color:rgba(0,0,0,0.5);
    -webkit-transition:all .4s ease-in-out;
    transition:all .4s ease-in-out
}

.hovereffect img {
    display:block;
    position:relative;
    -webkit-transition:all .4s linear;
    transition:all .4s linear;
}

.hovereffect h2 {
    text-transform:uppercase;
    color:#fff;
    text-align:center;
    position:relative;
    font-size:17px;
    background:rgba(0,0,0,0.6);
    -webkit-transform:translatey(-100px);
    -ms-transform:translatey(-100px);
    transform:translatey(-100px);
    -webkit-transition:all .2s ease-in-out;
    transition:all .2s ease-in-out;
    padding:10px;
}

.hovereffect a.info {
    text-decoration:none;
    display:inline-block;
    text-transform:uppercase;
    color:#fff;
    border:1px solid #fff;
    background-color:transparent;
    opacity:0;
    filter:alpha(opacity=0);
    -webkit-transition:all .2s ease-in-out;
    transition:all .2s ease-in-out;
    margin:50px 0 0;
    padding:7px 14px;
}

.hovereffect a.info:hover {
    box-shadow:0 0 5px #fff;
}

.hovereffect:hover img {
    -ms-transform:scale(1.2);
    -webkit-transform:scale(1.2);
    transform:scale(1.2);
}

.hovereffect:hover .overlay {
    opacity:1;
    filter:alpha(opacity=100);
}

.hovereffect:hover h2,.hovereffect:hover a.info {
    opacity:1;
    filter:alpha(opacity=100);
    -ms-transform:translatey(0);
    -webkit-transform:translatey(0);
    transform:translatey(0);
}

.hovereffect:hover a.info {
    -webkit-transition-delay:.2s;
    transition-delay:.2s;
}
.galery-image{
    width: auto;
    height: 175px;
}
.galery-images{
    width: auto;
    height: 250px;
}
.body-img{
    width: 30%;
    height: 30%;
    color: #EAD94C;
    background-color: #0A2342;
    border-radius: 10px;
    border: 2px solid #DD7373;
    padding:10px;
    margin: 10px;
}
.comment{
    color: honeydew;
    text-shadow: 2px 2px black;
    background-color: #0A2342;
    border-radius: 10px;
    border: 2px solid #DD7373;
    padding:10px;
    padding-bottom: 25px;
    margin-top: 10px;
}
#comments{
    display: inline-block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-color: dimgray;
    max-width: none;
    width: 85%;
    resize: none;
    overflow: auto;
}
.single-img{
    width: 600px;
    height: 500px;
    color: #EAD94C;
    background-color: #0A2342;
    border-radius: 10px;
    border: 2px solid #DD7373;
    padding:10px;
    margin: 10px;

}
.blog-categories-home{
    color: #EAD94C;
}
.blog-categories-home-listed{
    color: honeydew;
}
.pull-right{
    color: #EAD94C;
}
