<div class="container body-content">
    <div class="row">
        {{#each pictures}}
            <div class="col-md-6">
                <article class="body-main main-article">
                    <h2 class="mainColor " style="margin-bottom: 0">{{ this.title }}</h2>
                    <p class="lead" style="margin-bottom: 8px">
                        by <a href="#" class="mainColor authorArt" >{{ this.author.fullName }}</a>
                    </p>
                    <img class="single-img" src="/uploads/{{this.img.name}}" alt="">
                    <hr class="hr"/>
                    <a class="btn btn-default pull-right" href="/picture/details/{{this.id}}">See More &nbsp;&nbsp;<i class="fa fa-forward" aria-hidden="true"></i><span class=""></span></a>
                </article>
            </div>
        {{/ each}}
    </div>
</div>